name: Build APKs

on:
  workflow_dispatch:
  push:
    branches: [ "**" ]

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        abi: [ arm64, armeabi, x86, x86_64, univer_]()
